*{
    font-family: Helvetica, Arial, sans-serif;
}
body{
    background-color: rgb(228, 222, 207);
}

#controls{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
#toggles{
    display: flex;
    flex-wrap: wrap;
}
#button-container{
    display:flex;
    flex-wrap: wrap;
}

.flex-grid {
    display: flex;
}

.box {
    width: 20px;
    height: 20px;
    background-color: rgb(0,0,0);
    opacity: 0.1;
}

button {
    padding: 10px 20px;
    background-color: #fff6f1;
    border: 1px solid #cbcbcb;
    color: #030303;
    cursor: pointer;
    font-size: 16px;
}

button.active {
    background-color: #333;
    color: #94e2ec;
    border: 1px solid #000;
}

input {
    padding: 10px 20px;
    background-color: #fff6f1;
    border: 1px solid #cbcbcb;
    color: #030303;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff6f1;
    border: 1px solid #cbcbcb;
    color: #030303;
}

.rgb-container {
    display: flex;
    background-color: #cbcbcb;
    min-width: none;
}

.number-label{
    padding: 10px 10px;
    border: 1px solid #cbcbcb;
    color: white;
}
.number-label.red{
    background-color: red;
}
.number-label.green{
    background-color: green;
}
.number-label.blue{
    background-color: blue;
}

#customColorPreview{
    border: 1px solid #cbcbcb;
    background-color: white;
    padding: 10px 20px;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox-label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: #333;
}

.checkbox-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #64afff; 
    background-color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox:checked + .checkbox-label::before {
    background-color: #007BFF;
    border-color: #007BFF;
}

.checkbox:checked + .checkbox-label::after {
    content: '';
    position: absolute;
    top:1px;
    left:8px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-label:hover::before {
    border-color: #0056b3;
}
